﻿@model RodneyRibeiro.Models.User
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-12">
        <!-- Mensagem de erro-->
        @if (ViewBag.Erro != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                @ViewBag.Erro
            </div>
        }
        <!--começo form auto validador usando o validator.js obs: esse script está declarado só no _LayoutIndex.cshtml no rodapé da pagina-->
    </div>

    <div class="col-md-6 container-fluid">
        <h2>Lista de Contatos</h2>
    </div>
    <div class="col-md-12">
        <div class="col-md-5 table-bordered">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="search-query form-control" placeholder="Pesquise uma pessoa/empresa" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="list-group col-md-12 padding-top">
                <a href="#" class="list-group-item list-group-item-action">Arnaldo</a>
                <a href="#" class="list-group-item list-group-item-action">Astolfo</a>
                <a href="#" class="list-group-item list-group-item-action">Beatriz</a>
                <a href="#" class="list-group-item list-group-item-action">Bianca</a>
                <a href="#" class="list-group-item list-group-item-action">Ceron</a>
            </div>
        </div>
        <div class="col-md-7 table-bordered">
            <div>&nbsp;</div>
            <div class="form-check">
                <label class="form-check-label">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tipo:&nbsp;
                    <label><input class="form-check-input" type="radio" name="tipoPessoa" id="tipoP" value="1" aria-label="Pessoa Física"> Pessoa Física &nbsp;</label>
                    <label><input class="form-check-input" type="radio" name="tipoPessoa" id="tipoP" value="2" aria-label="Pessoa Jurídica"> Pessoa Jurídica</label>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    &nbsp;Categoria: &nbsp;
                    <label><input class="form-check-input" type="radio" name="catPessoa" id="radio" value="1" aria-label="Cliente"> Cliente &nbsp;</label>
                    <label><input class="form-check-input" type="radio" name="catPessoa" id="radio" value="2" aria-label="Fornecedor"> Fornecedor &nbsp;</label>
                    <label><input class="form-check-input" type="radio" name="catPessoa" id="radio" value="3" aria-label="Funcionário"> Funcionário</label>
                </label>
            </div>
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-sm-2 control-label" for="nomePessoa">Nome:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="nomePessoa" placeholder="Nome da pessoa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="cpfPessoa">CPF:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cpfPessoa" placeholder="Informe o CPF da pessoa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="emailPessoa">E-mail:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="emailPessoa" placeholder="E-mail da pessoa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="telPessoa">Contato:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="telPessoa" placeholder="Telefone da pessoa">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="celPessoa" placeholder="Celular da pessoa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="endPessoa">Endereço:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="endPessoa" placeholder="Rua Exemplo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="bairroPessoa">Bairro:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="bairroPessoa" placeholder="Bairro">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="numPessoa">Núm.:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="numPessoa" placeholder="Número">
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="compPessoa" placeholder="Complemento">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="cepPessoa">CEP:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cepPessoa" placeholder="15045-000">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="estPessoa">Estado:</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="estPessoa">
                            <option>AM</option>
                            <option>BA</option>
                            <option>CE</option>
                            <option>DF</option>
                            <option>SP</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="anivPessoa">Aniversário:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="anivPessoa" placeholder="Data de Aniversário da pessoa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="sobrePessoa">Sobre:</label>
                    <div class="col-sm-10">
                        <textarea style="max-width:500px; min-width:500px; max-height:8em;" id="sobrePessoa" placeholder="Descrição da pessoa."></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    jQuery(function ($) {
        $(".cpf input").mask("99/99/9999");
        $(".telefone input").mask("9999-9999");
    });
</script>

