﻿@using RodneyRibeiro.Models
@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>

    <div class="col-md-12 row">      
        <div class="col-md-8 container-fluid">
            <img src="~/img/logo.png" class="logotipo"/>
            <img src="~/img/x.PNG" style="width: 100%" class="logotipo2"/>
        </div>
        <div class="col-md-4 container" style="padding-top: 150px;">
            @if (ViewBag.Erro != null && ViewBag.Erro != true)
            {
                <div class="alert alert-danger">
                    <strong>Error!</strong> Usuário e/ou senha incorretos!
                </div>
            }
            @if (TempData["Criada"] != null)
            {
                <div class="alert alert-success">
                    <strong>Sucesso!</strong> Usuário criado com sucesso!
                </div>
            }
            <form class="account-box" method="POST" action="~/User/Login" role="form">
                <div class="form-group login-form" style="padding-top: 25px">
                    <label for="email">Endereço do E-mail</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @required = "required" })
                    <div class="help-block with-errors">@Html.ValidationMessageFor(m => m.Email)</div>
                </div>
                <div class="form-group login-form">
                    <label for="password">Senha</label>
                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control control-label", @minlength = "6", @required = "required" , @maxlength="16"})
                    <div class="help-block with-errors">@Html.ValidationMessageFor(m => m.Senha)</div>
                </div>
                <div class="form-group login-form">
                    <center>
                        <a href="Register" class="btn btn-link" role="button" aria-pressed="true">Sou novo por aqui.</a>
                        <a href="ForgetPass" class="btn btn-link" role="button" aria-pressed="true">Esqueci a senha.</a>
                    </center>
                </div>
                <div style="padding-bottom: 25px;">
                    <center>
                        <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </center>
                </div>
            </form>        
        </div>
    </div>
</body>
</html>
