﻿@using RodneyRibeiro.Models
@model User
@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listaCod = new List<SelectListItem>();
    listaCod.Add(new SelectListItem
    {
        Text = "1001",
        Value = "1001"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "1002",
        Value = "1002"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "1003",
        Value = "1003"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "1004",
        Value = "1004"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "1005",
        Value = "1005"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "1006",
        Value = "1006"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "1007",
        Value = "1007"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "1008",
        Value = "1008"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2000",
        Value = "2000"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2001",
        Value = "2001"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2002",
        Value = "2002"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2003",
        Value = "2003"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2004",
        Value = "2004"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2005",
        Value = "2005"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2006",
        Value = "2006"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2007",
        Value = "2007"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2008",
        Value = "2008"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2009",
        Value = "2009"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2010",
        Value = "2010"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2011",
        Value = "2011"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2012",
        Value = "2012"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2013",
        Value = "2013"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2014",
        Value = "2014"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2015",
        Value = "2015"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2016",
        Value = "2016"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2017",
        Value = "2017"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2018",
        Value = "2018"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2019",
        Value = "2019"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2020",
        Value = "2020"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2021",
        Value = "2021"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2022",
        Value = "2022"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2023",
        Value = "2023"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2024",
        Value = "2024"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2025",
        Value = "2025"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2026",
        Value = "2026"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2027",
        Value = "2027"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "2028",
        Value = "2028"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "3000",
        Value = "3000"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "3001",
        Value = "3001"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "3002",
        Value = "3002"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "3003",
        Value = "3003"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "3004",
        Value = "3004"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "3005",
        Value = "3005"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "3006",
        Value = "3006"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "3007",
        Value = "3007"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "3008",
        Value = "3008"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "3009",
        Value = "3009"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "3010",
        Value = "3010"
    });
    listaCod.Add(new SelectListItem
    {
        Text = "3011",
        Value = "3011"
    });
}

<div class="container">
    <div class="col-lg-12">
        <!-- Mensagem de erro-->
        @if (ViewBag.Erro != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                @ViewBag.Erro                
            </div>
        }
    </div>

    <div class="col-md-4">
        <h4>Resultado previsto pro @((Session["usuario"] as User).Nome):</h4>
        <h2><font color="green">R$ 16.958,00</font></h2>
        <h4>Recebido: &nbsp;<font color="green">R$ 17.549,00</font><br/> Despesas: <font color="red">R$ 591,00</font></h4>        
    </div>
    <div class="col-md-4 text-right">
        <h4>Saldo da conta principal:</h4>
        <h2><font color="green">R$ 16.160,00</font></h2>
        <h4>Previsão de fechamento do mês: <br/><font color="green">R$ 33.118,00</font></h4> 
    </div>
    <div class="col-md-11 div-transactions">
        <button type="submit" class="btn btn-primary btn-lg" role="button">
            Salvar
        </button>
        <div class="col-md-2  div-transactions-data" style="min-width:125px">
            <select class="form-control" id="mes" tabindex="-1">
                <option>Janeiro</option>
                <option>Fevereiro</option>
                <option>Março</option>
                <option>Abril</option>
                <option>Maio</option>
            </select>
        </div>
        <div class="col-md-1  div-transactions-data">
            <select class="form-control" id="mes" tabindex="-1">
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <!-- Lista de Recebimento/Despesas começa aqui-->
        <form action="/User/Transactions" method="POST">
            <div class="col-md-2 table-bordered form-group text-center">
                <div class="form-group">
                    <label for="matrizId1">Matriz</label>
                    @Html.DropDownListFor(l => l.Codigo1, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo2, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo3, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo4, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo5, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo6, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo7, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo8, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo9, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo10, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo10, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo10, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo10, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo10, listaCod, "-- Código --", new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Codigo10, listaCod, "-- Código --", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3 table-bordered form-group text-center">
                <div class="form-group">
                    <label for="descId1">Descrição</label>
                    @Html.TextBoxFor(l => l.Descricao1, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao2, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao3, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao4, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao5, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao6, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao7, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao8, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao9, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao10, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao11, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao12, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao13, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao14, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Descricao15, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-1 table-bordered form-group text-center">
                <div class="form-group">
                    <label for="numId1">Num</label>
                    @Html.TextBoxFor(m => m.Num1, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num2, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num3, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num4, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num5, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num6, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num7, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num8, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num9, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num10, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num11, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num12, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num13, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num14, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Num15, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2 table-bordered form-group text-center">
                <div class="form-group">
                    <label for="histId1">Histórico</label>
                    @Html.TextBoxFor(m => m.Historico1, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico2, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico3, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico4, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico5, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico6, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico7, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico8, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico9, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico10, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico11, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico12, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico13, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico14, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Historico15, new { @class = "form-control" })
                </div>
            </div>
        </form>
        <form id="entrada" method="post">
            <div class="col-md-2 table-bordered form-group">
                <div class="form-group">

                    <center><label for="entId1">Entrada</label></center>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(l => l.Entrada1, new { @class = "form-control input-style", @type = "number"})
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada2, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada3, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada4, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada5, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada6, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada7, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada8, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada9, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada10, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada11, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada12, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada13, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada14, new { @class = "form-control input-style", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Entrada15, new { @class = "form-control input-style", @type = "number" })
                    </div>
                </div>
            </div>
        </form>
        <form id="entrada" method="post">
            <div class="col-md-2 table-bordered form-group">
                <div class="form-group">

                    <center><label for="saiId1">Saida</label></center>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida1, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida2, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida3, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida4, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida5, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida6, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida7, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida8, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida9, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida10, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida11, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida12, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida13, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida14, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                    <div class="flex">
                        <span class="currency">R$</span>
                        @Html.TextBoxFor(m => m.Saida15, new { @class = "form-control input-style2", @type = "number" })
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>